body{
    background-color: lightblue;
}
.black{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 5px 10px 5px 10px;
}
.white{
    background-color: white;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 5px 10px 5px 10px;
}
.img1{
    position: absolute;
    top: 99px;
    left: 156px;
}
.img2{
    position: relative;
    top: -21px;
    left: -97px;
}
/* .img3{
    position: fixed;
    top: 525px;
    left: 525px;
} */
.go1{
    position: fixed;
    top: 570px;
    left: 525px;
}
.exp{
    width: 120px;
    height: 30px;
    background-color: red;
    color: aliceblue;
}
.exp1{
    width: 120px;
    height: 33px;
    background-color: blue;
    color: aliceblue;
    position: absolute;
    top: 1346px;
    left: 46px;
}
.float1{
    width: 400px;
    height: 33px;
    background-color: red;
    color: aliceblue;
    float: left;
}
.float2{
    width: 120px;
    height: 33px;
    background-color: blue;
    color: aliceblue;
    float: left;
}
p{
    clear: both;
}